body {
  color: $color-text-first;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.2;
}
svg {
  margin: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  margin-top: 0px;
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
