.header-logo,
.footer-logo {
  @extend %link;
  @include logo;
  display: inline;

  @media screen and (max-width: $tablet - 1px) {
    padding-top: 16px 0 16px 0;
  }
  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    @include logo(24px, 1.17);
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.logo {
  color: $color-hover;
}
.header-logo {
  color: $color-logo;
  padding-top: 16px;
  padding-bottom: 16px;
}
.footer-logo {
  color: $color-text-white;
  margin-bottom: 20px;
}
