.backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
  transform: translate(0%, 0%) scale(1);
  transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;

  @media screen and (max-width: $tablet - 1px) {
    padding: 93px 15px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    padding: 208px 159px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translate(0%, 0%) scale(1.2);

  & .modal {
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal {
  position: absolute;
  // overflow-y: scroll;
  box-sizing: border-box;

  top: 50%;
  left: 50%;
  padding: 40px;

  background-color: $background-first;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);

  @media screen and (max-width: $desktop - 1px) {
    width: 100%;
    max-width: 450px;
    height: 634px;
    .form-field {
      max-width: 370px;
    }
  }
  @media screen and (min-width: $desktop) {
    & {
      width: 528px;
      height: 581px;
    }
    .form-field {
      width: 448px;
    }
  }
  & .button {
    padding: 10px 52px;
  }
}
.close-button {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 30px;
  height: 30px;

  background-color: $background-first;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  fill: $color-text-first;
  transform: translate(25%, -25%) scale(1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:active,
  &:hover {
    border: 1px solid $color-hover;
    fill: $color-hover;
    transform: translate(25%, -25%) scale(1.2);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form-caption {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 30px;

  @include font(20px, 1.15, 700);

  text-align: center;
}

.input-container {
  margin-bottom: 20px;
  padding: 0px;
}
.form-field {
  position: relative;
  display: flex;
  height: 40px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid transparent;
  border-radius: 4px;

  @include font(14px, 1.14, 400);
  letter-spacing: 0.01em;

  &:not(:last-child) {
    margin-bottom: 28px;
  }

  &:last-child {
    height: 120px;
  }

  .icon {
    position: absolute;
    left: 18px;
    top: 12px;
    fill: $color-text-first;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover .icon {
    fill: $color-hover;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:active .icon,
  &:hover .icon {
    fill: $color-hover;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.form-input {
  display: block;
  width: 448px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0px;
  padding-left: 42px;
  appearance: none;

  // &:active,
  // &:hover {
  //   border: 1px solid $color-hover;
  //   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // }
}

.form-field {
  .form-label {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 42px;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 0.01em;
    transform-origin: left;
    transform: translate(0px, 12px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:active .form-label,
  &:hover .form-label,
  .form-input:not(:placeholder-shown) ~ .form-label {
    color: $color-hover;
    transform: translate(-26px, -20px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .comment {
    padding: 12px 16px;
    resize: none;
  }
}
.checkbox-container {
  position: relative;
  margin-bottom: 30px;
  @include font(12px, 1.17, 400);
  text-align: left;
  white-space: nowrap;

  @media screen and (min-width: $desktop) {
    @include font(14px, 1.7, 400);
  }

  .checkbox-text {
    padding-left: 24px;
    padding-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (min-width: $desktop) {
      padding-left: 36px;
    }
  }
  & a {
    color: $color-hover;
    list-style: none;
  }
  .icon-check {
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    border: 2px solid $color-text-first;
    border-radius: 2px;
    transition: $transition;

    @media screen and (min-width: $desktop) {
      top: 5px;
      left: 13px;
    }
  }

  .checkbox-input {
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
  }
}

.checkbox-input:active ~ .icon-check,
.checkbox-input:checked ~ .icon-check {
  background-image: url(../img/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: $color-hover;
  transition: background-image $time;
}
